---
layout: theme
title: "A secure whistleblowing platform for African media "
description: "AfriLeaks is an online system which enables users to anonymously send material to investigative media organisations of their choice."
---

<div class="row" role="tabpanel" id="main-content">
  <div class="col-md-8">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="about">
        {% capture about_text %} {% include parts/about.md %} {% endcapture %}
        {{ about_text | markdownify }}
      </div>

      <div role="tabpanel" class="tab-pane" id="howto">
        {% capture howto_text %} {% include parts/howto.md %} {% endcapture %}
        {{ howto_text | markdownify }}
      </div>

      <div role="tabpanel" class="tab-pane" id="faq">
        {% capture faq_text %} {% include parts/faq.md %} {% endcapture %}
        {{ faq_text | markdownify }}
      </div>

      <div role="tabpanel" class="tab-pane" id="security">
        {% capture security_text %} {% include parts/security.md %} {% endcapture %}
        {{ security_text | markdownify }}
      </div>

      <div role="tabpanel" class="tab-pane" id="contact">
        {% capture security_text %} {% include parts/contact.md %} {% endcapture %}
        {{ security_text | markdownify }}
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active">
        <a href="#about" aria-controls="about" role="tab" data-toggle="tab">Introduction</a>
      </li>
      <li role="presentation">
        <a href="#howto" aria-controls="howto" role="tab" data-toggle="tab">How to Leak</a>
      </li>
      <li role="presentation">
        <a href="#faq" aria-controls="faq" role="tab" data-toggle="tab">Frequent Questions</a></li>
      <li role="presentation">
        <a href="#security" aria-controls="security" role="tab" data-toggle="tab">Your Security</a>
      </li>
      <li role="presentation">
        <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact us</a>
      </li>
    </ul>
  </div>
</div>

<div id="partners">
  {% capture partners_text %} {% include parts/partners.md %} {% endcapture %}
  {{ partners_text | markdownify }}
</div>
