---
---

$theme-color: #559dc0;
$theme-gray: #222222;
$theme-black: #000000;

@font-face {
  font-family: NoticiaText;
  src: url("/fonts/webfonts/NoticiaText-Regular.woff");
}

@font-face {
  font-family: NoticiaText;
  src: url("/fonts/webfonts/NoticiaText-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: NoticiaText;
  src: url("/fonts/webfonts/NoticiaText-Bold.woff");
  font-style: italic;
}

@font-face {
  font-family: NoticiaText;
  src: url("/fonts/webfonts/NoticiaText-BoldItalic.woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: AfriLeaksOne;
  src: url("/fonts/webfonts/AfriLeaksOne-Regular.woff");
}

body {
  font-family: NoticiaText, serif;
  background-color: $theme-black;
  font-size: 1.8em;
  color: #000000;
}

.container {
  max-width: 900px;
}

a, a:hover {
  color: $theme-color;
}

@mixin fancy-font() {
  font-family: 'Special Elite', Georgia, serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  //@include fancy-font();
  font-family: AfriLeaksOne;
}

h4 {
  margin-top: 1.5em;
}

.btn {
  font-family: AfriLeaksOne;
  i {
    margin-right: 0.3em;
  }
  border-radius: 0;
  border: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 10px 20px;
}

.btn-default {
  background-color: #ffff00;
  color: #000000;
  &:hover {
    background-color: #ffffff;
    border: 4px solid #ffff00 !important;
    padding: 6px 16px !important;
  }
}

#page {
  background-color: white;
}

ul {
  list-style-type: square;
  padding-left: 1em;

  li {
    margin-bottom: 0.3em;
  }
}

footer {
  color: white;
  padding-top: 3em;
  padding-bottom: 3em;

  font-size: 1em;

  a {
    color: white;
    text-decoration: underline;
  }

  a:hover {
    color: white;
  }

  img {
    max-height: 4em;
    margin-left: 1em;
    float: right;
    border: 1px solid white;
  }
}

/* Navbar */
.navbar {

  $navbar: #fff;
  background-color: $navbar; // $theme-gray;
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid darken($navbar, 10%);
  margin-bottom: 0;

  .navbar-header {
    float: left;
  }

  .navbar-brand {
    @include fancy-font();
    color: white;
    font-size: 2em;
    padding-top: 0;
    min-height: 70px;

    img {
      margin-top: -10px;
      height: 80px;
    }

    &:hover {
      color: white;
    }
  }
}

.top-buffered {
  padding-top: 50px;
}

/* Nav pills */
.nav-pills {
  margin-bottom: 1.5em;
  font-family: AfriLeaksOne;

  li.active a, li a {
    border-radius: 0;
    font-size: 1.4em;
    color: #000000;
    text-transform: uppercase;
  }

  li.active a {
    text-decoration: underline;
    background-color: #ffffff;
    color: black;
    &:hover, &:focus {
      background-color: #eeeeee;
      color: black;
    }
  }
}

#intro {
  background-image: url(../img/pixellated-photo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-top: 3em;
  padding-bottom: 3em;

  //font-weight: 700;
  color: white;

  #claim {
    margin-top: 1.5em;
    font-size: 2.5em;
    padding-bottom: 1em;
    font-weight: bold;
    font-family: NoticiaText;
  }

}

#main-content {
  padding: 3em 0;
  h1 {
    font-size: 3.5em;
  }
}

#partners {
  padding: 3em 0;
  background-color: yellow;

  h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  img {
    margin-right: 2em;
    width: 175px;
    margin-bottom: 1em;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
