<div class="row">
  <div class="col-md-4">
    <p>AfriLEAKS is a joint project of the <a href="http://investigativecenters.org">African Network of Centers for
      Investigative Reporting</a> in collaboration with the <a href="http://logioshermes.org/">Hermes Center for
      Transparency and Digital Human Rights</a>.</p>
  </div>
  <div class="col-md-8" style="padding-top: 20px;">
    <p class="hidden-sm hidden-xs text-right">
      <a href="https://www.investigativecenters.org/" target="_blank"><img src="/img/ancir.png"></a>
      <a href="http://logioshermes.org/" target="_blank"><img src="/img/hermes.png"></a>
      <a href="https://www.hivos.org/" target="_blank"><img src="/img/hivos.png"></a>
      <a href="https://www.freepressunlimited.org/en" target="_blank"><img src="/img/fpu.jpeg"></a>
    </p>

    <p class="hidden-lg hidden-md text-center">
      <a href="https://www.investigativecenters.org/" target="_blank"><img src="/img/ancir.png"></a>
      <a href="http://logioshermes.org/" target="_blank"><img src="/img/hermes.png"></a>
      <a href="https://www.hivos.org/" target="_blank"><img src="/img/hivos.png"></a>
      <a href="https://www.freepressunlimited.org/en" target="_blank"><img src="/img/fpu.jpeg"></a>
    </p>
  </div>
</div>
