<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} - afriLeaks</title>
    <meta name="description" content="{{page.description}}" />
    <meta name="keywords" content="afrileaks, leaks, whistleblowing, africa, secure submissions" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite|Raleway:700,200,300' rel='stylesheet' type='text/css'>
    <link href="/style/style.css" rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="http://investigativecenters.org/img/logo.jpg">
  </head>
  <body>
    <div id="page">
      {% include nav.html %}
      {% include intro.html %}
      <div class="container">{{ content }}</div>
    </div>

    <footer class="hidden-print">
      <div class="container">{% include footer.html %}</div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% include analytics.html %}
  </body>
</html>

